body {
    background-image: url'("/client/src/assets/images/ian-schneider-PAykYb-8Er8-unsplash.jpg")';
    background-repeat: no-repeat;
    background-size: cover;
}

img.w-full {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 70%;
}

.pageContainer {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}

.title {
    font-size: 5rem;
    padding: 3%;
}

.strapLine {
    font-size: 1.5rem;
}